name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *" # Executa todo dia à meia-noite
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate GitHub Contribution Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Lukasuuu
          outputs: |
            ./output/github-contribution-grid-snake-dark.svg

      - name: Push snake animation
        uses: EndBug/add-and-commit@v9
        with:
          message: "Atualiza animação da cobra de contribuições"
          add: "output/github-contribution-grid-snake-dark.svg"
